div.event__gallery-wrapper
  div.event__gallery-holder.js-gallery-carousel
    - var i = 0;
    each image in images
      - i++;
      div.event__gallery-image.js-carousel-image(class=i == 1 ? "event__gallery-image_active" : "")
        img(src=image.url, alt=image.title)
div.event__gallery-switcher
  a.event__gallery-switcher__btn.event__gallery-switcher__btn-prev.js-slide-image(href="#", data-direction="left")
  div.event__gallery-switcher__cnt
    span.js-curent-viewed 1
    span /#{imgCount}
  a.event__gallery-switcher__btn.event__gallery-switcher__btn-next.js-slide-image(href="#", data-direction="right")