- var id = 'uploaded-file-' + fileId;
li.file.js-uploader-file.js-draggable(id=id, draggable='true')
  img.file__image.js-uploaded-image
  div.file__title #{imageTitle}
  div.file__progress.js-upload-progress